html(lang="en")
    head
        title Assignment
    body
        h1 data
        h1= result
        form(action='/getData', method='get')
            label Enter a number:
                input(type='text', name='number' id='number')
            button(type='submit') Submit