html(lang="en")
    head
        title Assignment
    body
        h1 Plus!
        form(action='/getData', method='get')
            label Enter a number:
                input(type='text', name='number' id='number')
            button(type='submit') Submit
        p 結果為：
            span#result= result