// 
$link-blue: #1a73e8;
$dark-blue: #1765cc;
$content-black: #202124;

// 

*,
*:before,
*:after {
    box-sizing: border-box;
    // outline: solid 1px black;
}

html,
body,
h1 {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    padding-left: 0;
}

a {
    text-decoration: none;
}

// mobile display none

.nav-bar,
.language-select {
    display: none;
}

.search {
    input {
        display: none;
    }

    &:before {
        font-family: 'FontAwesome';
        content: "\f002";
        color: #5f6368;
        font-size: 18px;
    }
}

.header-wrapper>*,
*:before,
*:after {
    font-family: "Roboto", sans-serif;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 16px;
    padding-right: 16px;
    gap: 8px;
    height: 48px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
    position: sticky;
    top: 0;
    z-index: 99;
    background-color: #fff;
}

.header-logo {
    min-width: 185px;
    width: 185px;
    height: 32px;
    margin-right: auto;

    img {
        width: 100%;
    }
}

.burger-menu {
    min-width: 40px;
    width: 40px;
    height: 40px;
    color: #1f1f20;
    font-size: 20px;
    border-radius: 20px;
    border: none;
    background-color: transparent;

    &:hover {
        background-color: #f1f3f4;
    }
}

.profile-menu {
    width: 30px;
    min-width: 30px;
    height: 30px;
    border-radius: 100%;
    border: solid 1px #dadce0;
    padding: 2px;

    img {
        width: 100%;
        position: relative;
        border-radius: 100%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    &:hover {
        background-color: #f1f3f4;
    }
}

.self-profile {
    min-width: 36px;
    width: 36px;
    height: 36px;
    padding: 4px;
    border-radius: 100%;

    img {
        width: 100%;
        border-radius: 100%;
    }

    &:hover {
        background-color: #e8f0fe;
    }
}

.pointer {
    cursor: pointer;
}

// main section
.main>*,
*:before,
*:after {
    font-family: 'Noto Sans', sans-serif;
}

// section
.section {
    padding-top: 16px;
    padding-bottom: 16px;
}

// section-start

.section-start {
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid #f1f3f4;

    .hero-start {
        margin: 40px 0px;

        img {
            width: 100%;
        }
    }
}

// section service
.section-service {
    margin-bottom: 84px;
}

.service-list {
    margin-top: 32px;
    margin-bottom: 64px;
    padding-bottom: 16px;
    display: flex;
    flex-wrap: wrap;
}

.service {
    flex: 1 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.service-icon {
    height: 96px;
    margin: 0;
}

.icon {
    width: 64px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.service-name {
    font-size: 14px;
}

// section-gathering
.section-gathering {
    display: flex;
    flex-direction: column;
}

.gather-figure {
    margin: 0;
    position: relative;

    &:after {
        content: "";
        background-size: 160px 160px;
        display: block;
        width: 160px;
        height: 160px;
        position: absolute;
        top: -45px;
        right: 8px;
    }

    a img {
        width: 100%;
    }
}

.figure-first:after {
    background-image: url('https://developers.google.com/site-assets/images/home/events-graphic.png');
}

.figure-second:after {
    background-image: url('https://developers.google.com/site-assets/images/home/community-graphic.png');
}

.gathering {
    border: 1px solid #dadce0;
    border-radius: 8px;
}

a.link-title {
    font-size: 24px;
}

// section news
.section-news {
    background-color: #F1F3F4;
}

.news-list {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
}

.news {
    border: 1px solid #dadce0;
    border-radius: 8px;
    background-color: #fff;

    figure {
        height: 252.75px;
    }
}

.news-icon {
    width: 128px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

// section expert
.section-expert {
    border-bottom: 1px solid #dadce0;
}

.experts {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.expert {
    border: 1px solid #dadce0;
    border-radius: 8px;
    padding: 16px;

    .inner-content {
        margin-top: 10px;
        margin-bottom: 16px;
        font-size: 15px;

        span {
            color: #808080;
        }
    }

    .btn {
        margin: 0;
    }
}

.pic {
    width: 100px;
    height: 100px;
    background-size: cover;
    background-position: left;
    border-radius: 100%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 20px;
}

.name {
    margin: 0;
}

// footer

.footer-links {
    display: flex;
    flex-direction: column;
    padding-bottom: 24px;
    border-bottom: 1px solid #dadce0;
}

.links {
    padding-top: 24px;

    ul {
        margin: 0;

        li {
            margin: 0;
            padding: 0 0 8px 0;
            font-size: 14px;

            a {
                color: $content-black;

                &:hover {
                    color: $link-blue;
                }
            }
        }
    }
}

h4.link-title {
    margin: 1px 0 4px 0;
    font-size: 16px;
    color: $content-black;
}

// 功能性、共用

.group-content {
    padding: 16px;

    h3 {
        margin-top: 0;
    }

    .inner-content {
        font-size: 15px;
        margin-bottom: 16px;
    }
}

.gap-16 {
    gap: 16px;
}

.pl-16 {
    padding-left: 16px;
}

.pr-16 {
    padding-right: 16px;
}

.pb-12 {
    padding-bottom: 12px;
}

.title {
    color: $content-black;
    font-size: 24px;
    font-weight: 400;
    margin: 0;
    letter-spacing: -0.8px;
}

.sub-title {
    font-size: 18px;
}

.link-title {
    color: $link-blue;
    font-size: 32px;
    font-weight: 400;
    line-height: 40px;
    margin-bottom: 24px;

    &:active {
        text-decoration: underline;
    }
}

.inner-content {
    color: $content-black;
    line-height: 1.5;
    margin-bottom: 32px;
}

.btn {
    padding: 0 24px;
    display: inline-block;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    margin: 4px 4px 4px 0;
}

.btn-blue {
    background-color: $link-blue;

    &:hover {
        background-color: $dark-blue;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    }

    a {
        color: #fff;
        line-height: 36px;
    }
}

.btn-white {
    background-color: #fff;
    border: 1px solid #dadce0;
    transition: 0.2s;

    &:hover {
        background-color: #E8F0FE;
    }

    a {
        color: $link-blue;
        line-height: 36px;
    }
}

.btn-no-border {
    border: none;
    padding: 0 8px;
    position: relative;
    left: -7px;
}

.bold {
    font-weight: bold;
}

.text-center {
    text-align: center;
}

.center {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

// media queries

@media screen and (min-width: 600px) {
    .language-select {
        display: block;

        .language {
            background-color: transparent;
            border: solid 1px #dadce0;
            border-radius: 5px;
            font-size: 16px;
            padding: 5px 11px;
            color: $content-black;

            &:before {
                font-family: 'FontAwesome';
                content: "\f0ac";
                margin-right: 8px;
                font-size: 22px;
            }

            &:after {
                font-family: 'FontAwesome';
                content: "\f0d7";
                margin-left: 8px;
                font-size: 13px;
            }

            &:hover {
                background-color: #f6f7f8;
            }
        }

        .language-list {
            position: absolute;
        }

        .language-list {
            display: none;
        }
    }

    .section-start {
        flex-direction: row;
        gap: 24px;

        .hero-start,
        .start-content {
            flex: 1 50%;
        }

        .start-content {
            order: -1;
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;

            .btn {
                margin-right: auto;
            }
        }
    }

    .section-service {
        .title {
            font-size: 44px;
        }
    }

    .service {
        flex: 1 20%;
    }

    .section-gathering {
        flex-direction: row;
    }

    .section-news {
        .title {
            font-size: 32px;
        }
    }

    .news-list {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .news {
        flex: 1 45%;

        .group-content {
            display: flex;
            flex-direction: column;

            .btn {
                margin-top: auto;
                margin-right: auto;
            }
        }
    }

    .experts {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .expert {
        flex: 1 45%;
    }

    .footer-links {
        flex-direction: row;
        gap: 24px;
    }

    .links {
        flex: 1;
    }
}

@media screen and (min-width: 840px) {
    .burger-menu {
        display: none;
    }

    .search {
        input {
            display: block;
            padding: 8px 8px 8px 40px;
            font-size: 16px;
            border-radius: 5px;
            border: none;
            background-color: #f1f3f4;
            background-image: url("../img/search.png");
            background-repeat: no-repeat;
            background-size: 20px 20px;
            background-position: 10px;
        }

        &:before {
            content: "";
        }
    }

    .search input:hover {
        background-color: #e9ebee;
    }

    .nav-bar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        width: 100%;
        overflow-x: scroll;
        overflow-y: hidden;
        // white-space: nowrap;
        margin-right: auto;

        &::-webkit-scrollbar {
            height: 1px;
        }

        li {
            padding: 0 18px;

            a {
                color: #5f6368;
                position: relative;
                padding-bottom: 7px;

                &:hover {
                    border-bottom: solid 3px #5F6368;
                    border-radius: 2px;
                }

                span {
                    font-size: 20px;
                    position: absolute;
                    transition: 0.1s;

                    &:hover {
                        transform: rotate(180deg);
                    }
                }
            }
        }
    }

    .header-logo {
        margin-right: 32px;
    }

    .news-list {
        gap: 24px;
    }

    .news {
        flex: 1 20%;
    }

    .news figure {
        height: 140px;
    }

    .news-icon {
        width: 96px;

    }
}

@media screen and (min-width: 1032px) {
    .expert {
        flex: 1;
    }
}

@media screen and (min-width: 1448px) {
    .nav-bar {
        justify-content: flex-start;
    }
}